{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Sobre</h5>
                    <p class="card-text text-center">Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio. In elementis mé pra quem é amistosis quis leo. Detraxit consequat et quo num tendi nada.</p>
                    <p class="text-center">
                        <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Cadastre-se</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <h3>Login</h3>
            <form method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuário</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <a href="#">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


{% endblock %}