{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row text-dark">
    <div class="col-md-12 col-lg-12">
        <div class="row">
            {% for board in boards %}

            <div class="col-md-12 col-lg-3 bg-black board pb-2 pt-2 pl-3 pr-3 m-1">
                <div class="input-group">
                    <input type="text" class="form-control" name="title_board" value="{{ board['title_board'] }}">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">
                            ...
                        </span>
                    </div>
                </div>
                <hr class="m-2">
                <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                    <div class="input-group mb-1">
                        <input type="text" class="form-control" name="title_card" value="{{ board['title_card'] }}">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="desc_card">{{ board['desc_card'] }}</textarea>
                    </div>
                    <div class="col-12 mb-1">
                        {{ board['items_list'] }}
                    </div>
                    <div class="col-12 mb-1">
                        <a class="text-primary" href=''>{{board['name_annex']}}</a> <a class="text-danger" href="">[X]</a>
                    </div>
                    <div class="card-buttons mt-2">
                        <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                        <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                        <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                    </div>
                </div>
            </div>

            {% endfor %}

            <div class="col-md-12 col-lg-3 bg-black board pb-2 pt-2 pl-3 pr-3 m-1">
                <form action="{{url_for('taskboard.addBoard')}}" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" name="title_board" placeholder="Titulo do Board">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <hr class="m-2">
                    <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                        <div class="input-group mb-1">
                            <input type="text" class="form-control" name="title_card" placeholder="Titulo do Card">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1">
                                    ...
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="desc_card"></textarea>
                        </div>
                        <div class="col-12 mb-1">
                            
                        </div>
                        <div class="col-12 mb-1">
                            <a class="text-primary" href=''></a>
                        </div>
                        <div class="card-buttons mt-2">
                            <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                            <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                            <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                        </div>
                    </div>
                    <input type="submit" hidden>
                </form>
            </div>



            <!-- <div class="col-md-12 col-lg-3 bg-black board pb-2 pt-2 pl-3 pr-3 m-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Novo Board">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">
                            ...
                        </span>
                    </div>
                </div>
                <hr class="m-2">
                <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Novo Card">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <div class="card-buttons mt-2">
                        <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                        <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                        <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-3 bg-black board pb-2 pt-2 pl-3 pr-3 m-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Novo Board" value="Titulo Board" disabled>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">
                            ...
                        </span>
                    </div>
                </div>
                <hr class="m-2">
                <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Novo Card" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur sed sapien quis urna euismod egestas vel at ex.
                    </div>
                    <div class="card-list">
                    
                    </div>
                    <div class="card-buttons mt-2">
                        <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                        <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                        <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Novo Card">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <div class="card-buttons mt-2">
                        <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                        <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                        <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 bg-black board pb-2 pt-2 pl-3 pr-3 m-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Novo Board" value="Titulo Board" disabled>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">
                            ...
                        </span>
                    </div>
                </div>
                <hr class="m-2">
                <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Novo Card" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur sed sapien quis urna euismod egestas vel at ex.
                    </div>
                    <div class="card-list">
                        
                    </div>
                    <div class="card-buttons mt-2">
                        <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                        <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                        <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}