{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row text-dark">
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-12 col-lg-3 bg-black board pb-2 pt-2 pl-3 pr-3 m-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Novo Board">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">
                            ...
                        </span>
                    </div>
                </div>
                <hr class="m-2">
                <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Novo Card">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <div class="card-buttons mt-2">
                        <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                        <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                        <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 bg-black board pb-2 pt-2 pl-3 pr-3 m-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Novo Board" value="Titulo Board" disabled>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">
                            ...
                        </span>
                    </div>
                </div>
                <hr class="m-2">
                <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Novo Card" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur sed sapien quis urna euismod egestas vel at ex.
                    </div>
                    <div class="card-list">
                        
                    </div>
                    <div class="card-buttons mt-2">
                        <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                        <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                        <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Novo Card">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <div class="card-buttons mt-2">
                        <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                        <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                        <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 bg-black board pb-2 pt-2 pl-3 pr-3 m-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Novo Board" value="Titulo Board" disabled>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">
                            ...
                        </span>
                    </div>
                </div>
                <hr class="m-2">
                <div class="col-md-12 col-lg-12 bg-black card pb-1 pt-1 m-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Novo Card" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">
                                ...
                            </span>
                        </div>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur sed sapien quis urna euismod egestas vel at ex.
                    </div>
                    <div class="card-list">
                        
                    </div>
                    <div class="card-buttons mt-2">
                        <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                        <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                        <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}