{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row text-dark">
    {% for board in boards %}
    <div class="col-md-12 col-lg-3 board pb-2 pt-2 pl-3 pr-3 mr-1 mt-1">
        <form action="{{url_for('taskboard.updateBoard')}}" id="updeteBoard" method="POST">
        <div class="input-group">
            <input type="hidden" class="form-control" name="id_board" value="{{board['id_board']}}" hidden readonly>
            <input type="text" class="form-control" onblur="enviar('updeteBoard')" name="title_board" value="{{board['title_board']}}">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Deletar</a>
                </div>
            </div>
        </div>
        </form>
        <hr class="m-2">
        {% for card in board.cards %}
        {% if card['id_card'] %}
        <div class="col-md-12 col-lg-12 card pb-1 pt-1 mt-1">
            <form action="{{url_for('taskboard.updateCard')}}" id="updateCard" method="POST">
                <div class="input-group mb-1">
                    <input type="hidden" class="form-control" name="id_card" value="{{card['id_card']}}" hidden readonly>
                    <input type="text" class="form-control" onblur="enviar('updateCard')" name="title_card" value="{{card['title_card']}}">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Deletar</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" onblur="enviar('updateCard')" name="desc_card">{{ card['desc_card'] }}</textarea>
                </div>
            </form>
            {% if card['items_list'] %}
            <div class="col-12 mb-1">
                {{ card['items_list'] }}
            </div>
            {% endif %}
            {% if card['name_annex']: %}
            <div class="col-12 mb-1">
                <a class="text-primary" href=''>{{card['name_annex']}}</a> <a class="text-danger" href="">[X]</a>
            </div>
            {% endif %}
            <div class="card-buttons mt-2">
                <img src="{{url_for('static', filename='image/lista.png')}}" alt="lista">
                <img src="{{url_for('static', filename='image/anexo.png')}}" alt="anexo">
                <img src="{{url_for('static', filename='image/imagem.png')}}" alt="imagem">
            </div>
        </div>
        {% else %}
        <div class="col-md-12 col-lg-12 card pb-1 pt-1 mt-1">
            <form action="{{url_for('taskboard.addCard')}}" id="addCard" method="POST">
                <div class="input-group mb-1">
                    <input type="hidden" class="form-control" name="id_board_card" value="{{board['id_board']}}" hidden readonly>
                    <input type="text" class="form-control" name="title_card" placeholder="Novo Card">
                </div>
                <div class="form-group">
                    <textarea class="form-control" onblur="enviar('addCard')" name="desc_card"></textarea>
                </div>
            </form>
        </div>
        {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="col-md-12 col-lg-3 bg-black board pb-2 pt-2 pl-3 pr-3 mr-1 mt-1">
        <form action="{{url_for('taskboard.addBoard')}}" id="addBoard" method="POST">
            <div class="input-group">
                <input type="text" class="form-control" onblur="enviar('addBoard')" name="title_board" placeholder="Titulo do Board">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Deletar</a>
                    </div>
                </div>
            </div>
            <input type="submit" hidden>
        </form>
        <hr class="m-2">
    </div>
</div>


<script>
    function enviar(form){
        document.getElementById(form).submit();
    }
</script>
{% endblock %}